
/*Extra styles*/

hr {
    display: block;
    height: 1px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 2px 5px 0px #ccc;
}

#acc_options hr {
    width: 84%;
    margin-left: 7%;
}


/*Header navbar*/

.header-menu div {
	display: inline-block;
}

#static-header {
	width: 60%;
}

.header-navbar * {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}



#menu-icon {
	margin-left: 2%;
	margin-right: 2%;
}

#search-icon {
	padding: 5px;
	border-radius: 5px;  
}

#search-form {
	width: 60%;
	margin-left: 10%;
}

#search-form * {
	display: inline-block;
}

#search-icon:hover {
	background-color: #ccc;
}

.header-search {
	height: 25px;
	width: 70%;
}

#logged-header {
	height: inherit;
	right: 0;
	width: 25%;
	text-align: justify;
	text-align-last: justify;
}

#not-logged-header {
	height: inherit;
	right: 0;
	width: 25%;
	text-align: right;
}

#not-logged-header .header-nav-link {
	margin-left: 10%;
}

.empty-header-block {
	width: 14%;
}

.header-nav-link {
	text-align: right;
	color: black;
	text-decoration: none;
	font-size: 15px;
}

#last-nav-link {
	margin-right: 0;
}

.header-nav-link p:hover {
	text-decoration: underline;
}


/*Side menu*/


.side-menu {
	padding-bottom: 25px;
	width: 15%;
	position: fixed;
	border-radius: 15px;
	background-color: #e8e8e8;
}

.side-menu-hidden {
	display: none;
	opacity: 0;
	width: 0;
    visibility: hidden;
}

#filters {
	padding-left: 15%;
	padding-top: 8%;
}

.categories-list {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 15px;
	padding-left: 20%;
}

.side-nav-title:hover {
	text-decoration: none;
}

.side-nav-title * {
	display: inline-block;
	vertical-align: middle;
}

.side-nav-title p {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.sidebar-selection {
	width: 30%; 
	font-size: 15px;
}

.sidebar-icons {
	width: 18px;
	margin-left: 5px;
}

.sidebar-selection {
	margin-left: 10px;
}

.side-menu hr {
	width: 105%;
	margin-left: -13%;
	border-bottom: 2px solid #ccc;
	box-shadow: none;
}

#sidebar-categories-title {
	cursor: pointer;
}

#categories-list-mobile {
	display: none;
}

.categories-list {
	list-style: circle;
}

.categories-list li {
	cursor: pointer;
}

.categories-list li:hover {
	text-decoration: underline;
}

/*Account options */

/* side menu*/

#acc_options {
	text-align: center;
	width: 100%;
	height: 100%;
}

/* Payment methods */

.title-img {
	width: 100px
}

.payment-title {
	width: 100%;
	margin-top: 5%;
	margin-left: 0;
	/* padding-left: 2%; */
}

.payment-title * {
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
	color: #876;
	font-weight: bold;
}

.paypal-row {
	width: 85%;
	margin-left: 2%;
	padding-left: 5%;
	/* margin-right: 0; */
}
.paypal-row * {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}

.mastercard-row {
	width: 85%;
	margin-left: 2%;
	padding-left: 5%;
	/* margin-right: 0; */
}
.mastercard-row * {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}

#no-line {
	text-align: justify;
	border-bottom: none;
	margin: 0;
}

#no-line-mastercard {
	text-align: justify;
	border-bottom: none;
	margin: 0;
}

#card-number {
	width: 62%;
	margin-right: 1%;
}

.card-input {
	display: inline-block;
	width: 32%;
}

.card-input * {
	display: inline-block;
}

#exp-date {
	width: 22%;
	margin-right: 1%;
}

#cvv {
	width: 12%;
}

/* Profile */

.profile-picture {
	overflow: hidden;
	width: 30%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

#profile-picture {
	background-color: #e8e8e8;
	width: 100%;
	border-radius: 20%;
}
#first-forms {
	display: inline-block;
	margin-top: 5%;
	vertical-align: top;
}

#second-forms {
	display: block;
	vertical-align: top;
	margin-left: 5%;
}

.form-label {
	font-weight: bold;
	font-size: 18px;
}

#first-forms .form-label {
	display: block;
	margin-top: 8%;
}

#second-forms .form-label {
	display: block;
	margin-top: 1%;
}

#buttons {
	display: block;
	margin-top: 1%
}

#buttons * {
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
	width: 18%;
	height: 29px;
	margin-top: 10px;
}


.form-input {
}

/*Home*/

/*Main content*/
#main-content {
	display: inline-block;
	margin-left: 15%;
	width: 85%;
	height: 90%;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
}


.films-row {
	width: 97%;
	margin-left: 0;
	margin-top: 5%;
	padding-left: 3%;
	text-align: justify;
}

.film-container {
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.film-row {
    /*height: 40%;*/
    margin-top: 10px;
}

.film-view {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	height: 85%;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding-top: 5%;
	padding-bottom: 5%; 
	background-color: #eee;
}

.film-view img {
	width: 80%;
	height: 20vw;
	margin-bottom: 1vh;
}

.film-caption {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 10px;
}

.film-subview {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	height: 70%;
	text-align: center;
	margin-top: 10px;
}

.film-rating-star {
	width: 10px!important;
}

.film-button:hover {
	background-color: rgba(255, 131, 0, 0.5);
}


.empty-film-row {
	width: 100%;
	display: block;
	height: 10%;
}

.profile-button {
	background: rgba(255, 131, 0, 0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	vertical-align: middle;
}

.profile-button:hover {
	background: rgba(255, 131, 0, 0.5);
	font-weight: bold;
}


/*Search results*/

#search-title {
	font-size: 25px;
	color: #876;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 15px;
}

#main-content hr {
	width: 95%;
	box-shadow: none;
	border-bottom: 3px solid #ccc;
}

/*Film page*/

#film-title {
	padding-left: 10%; 
}

.film-content div {
	display: inline-block;
	vertical-align: middle;
}

.film-description {
	width: 45%;
}

.film-description p {
	width: 100%;
}

.film-image {
	width: 35%;
	margin-right: 0
}

.description-title {
	font-size: 1.5vw;
	font-weight: bold;
	color: #876;
}

.title {
	font-size: 40px;
	font-weight: bold;
	color: #876;
	margin-top: 50px;
	margin-bottom: 20px;
}

#new-card-icon {
    margin-left: 10px;
    border-radius: 100%;
    padding: 0.1%;
    border: 1px solid #ccc;
    margin-top: 15px;
}

#new-paypal-icon {
    margin-left: 10px;
    border-radius: 100%;
    padding: 0.1%;
    border: 1px solid #ccc;
    margin-top: 7px;
}

.paypal-row .icon {
    margin-left: 10px;
}

.film-content {
	width: 100%;
	margin-left: 10%;
	margin-top: 2%;
}

.film-content img {
	width: 70%;
	height: 70%;
}

.film-description-text {
	font-size: 20px;
}

.film-description .film-button {
	width: 25%;
	height: 3vw;
	font-size: 1vw;
	font-weight: bold;
	margin-top: 5%;
	display: inline-block;
	vertical-align: middle;
}

.film-button img {
	width: 100%;
	height: 100%;
	margin-right: 5%;
}

/*Footer*/
.footer {
	position: fixed;
	display: inline-block;	
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
}

.footer-container {
	display: inline-block;
	text-align: center;
	width: 70%;
	background-color: rgba(73,73,73, 0.9);
	border-radius: 10px;
	color: white;
	font-size: 15px;
}

.footer-content {
	display: inline-block;
	vertical-align: middle;
	width: 31%;
	text-align: center;
}

.footer-content a {
	cursor: pointer;
}


.header-logo {
	width: 100px;
}

.film-button {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: rgba(255, 131, 0, 0.2);
	width: 35%;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	font-size: 15px;
	margin-top: 1%;
	padding: 2% 10%;
	text-decoration: none;
	color: #000;
}


/*Size controlling @media*/
@media screen and (max-width: 650px){
	.header-logo {
		width: 50px;
	}

	.film-button {
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: rgba(255, 131, 0, 0.2);
		width: 35%;
		height: 20px;
		margin-left: 5%;
		margin-right: 5%;
		cursor: pointer;
		font-size: 8px;
		margin-top: 1%;
	}

	.card-input {
	    display: block;
	    width: 87% !important;
	    margin: auto;
	    text-align: left;
	}

	.profile-button {
		font-size: 12px;
	}
}

@media screen and (max-width: 1100px){

	.footer-container {
		font-size: 12px;
	}

}


@media screen and (max-width: 700px){
	.film-container {
		width: 49%;
		left: 0;
	}

	.film-view img {
		width: 22vw;
		height: 28vw;
	}
	.film-view {
		width: 35vw;
		height: 35vw;
	}
}


/*Small devices menu*/
@media screen and (max-width: 1000px){

	#categories-list-mobile {
		width: 90%;
		display: block;
		text-align: center;
	}

	#filter_category_mobile {
		width: 100%;
	}

	.categories-list-mobile {
		padding: 0;
		width: 100%;
	}

	#categories-list-mobile li {
		 width: 24%;
	}


	#categories-list-mobile hr {
		width: 100%;
		display: block;
	    height: 1px;
	    border: none;
	    border-bottom: 1px solid #ccc;
	    padding: 0;
	    margin: 0;
	    margin-top: 3%;
	    box-shadow: 0 2px 5px 0px #ccc;
	}	

	.profile-picture {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	#profile-picture {
		width: 25%;
		margin: 0;
		margin-top: 5%;
	}

	#second-forms {
		margin: 0;
	}

	.card-input {
	    display: block;
	    width: 65%;
	    margin: auto;
	    text-align: left;
	}

	.card-input input {
		margin-left: 8px;
	}

	.card-input label {
		font-size: 16px;
	}

	#card-number {
		width: 50%;
		font-size: 12px;
	}

	#exp-date {
		width: 17%;
		font-size: 12px;
	}

	#cvv {
		width: 10%;
		font-size: 12px;
	}

	.paypal-row * {
		font-size: 22px;
	}

	.film-description-text {
		font-size: 1.5vw;
	}

	.title {
		font-size: 3.5vw;
	}

	.side-nav-title p {
		font-size: 12px;
	}

	.sidebar-icons {
		width: 7%!important;
	}

	#filters {
		width: 100%;
		padding: 0;
		padding-left: 5%;
		text-align: justify;
	}

	.side-nav-title {
		width: 30%;
	}

	.categories-list {
		font-size: 0.8vw;
		display: none !important;
	}

	.categories-list li {
		display: none;
		display: block;
	}

	.sidebar-selection {
		width: 40%;
		font-size: 1.5vw;
	}

	.side-menu {
		width: 90%;
		padding: 0;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.side-menu * {
		display: inline-block;
		vertical-align: middle;
	}

	.side-menu hr {
		display: none;
	}

	#main-content {
		margin: 0 auto !important;
		width: 100%!important;
		text-align: center;
		/*position: relative;
		margin-left: auto!important;
		margin-right: auto;*/
		height: 83%;
	}

	.films-row {
		margin-left: 0;
		padding-left: 0!important;
	}

	#title-row {
		text-align: left;
	}

	#search-title {
		font-size: 13px;
	}

	.footer-container {
		width: 90%!important;
	}

	.empty-film-row {
		height: 30%!important;
	}

}


@media screen and (max-width: 1050px){
	#logged-header {
		margin-left: 3%;
	}

	#not-logged-header {
		margin-left: 3%;
	}

	.header-nav-link {
		font-size: 10px;
	}

	.header-nav-link img {
		width: 30%;
	}

	#shopping-cart-img {
		width: 20%;
	}

	#search-icon {
		width: 7%;
	}

}

@media screen and (max-width: 1300px){
	.empty-header-block {
		display: none!important;
	}

	#logged-header {
		width: 35%;
	}

	#not-logged-header {
		width: 35%;
	}


	.header-search {
		margin-left: 10%;
	}

}

@media screen and (max-width: 720px){
	.header-menu {
		text-align: center;
	}

	#static-header{
		width: 100%;
	}

	.header-search {
		height: 15px;
	}

	.header-logo {
		width: 70px;
	}

	#logged-header {
		margin-top: 2%;
		width: 80%;
		margin-left: 0;
	}

	#not-logged-header {
		margin-top: 2%;
		width: 80%;
		margin-left: 0;
	}

	#filters {
		width: 100%;
	}

	.side-menu {
		width: 100%!important;
	}

}

@media screen and (max-width: 500px){
	.sidebar-selection {
		margin-left: 2px!important;
		width: 25%!important;
	}
}

@media screen and (min-width: 1200px){
	.profile-picture {
		width: 310px;
	}
}

@media screen and (max-width: 450px){
	.profile-button {
		font-size: 10px;
	}
}